<form>
  <h3> Requst Medical Record </h3>
  <div class="form-inline align-items-start">
    <div class="form-group">
      <select class="form-control mr-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control mr-2" placeholder="Search...">
      <span class="input-group-btn mr-2">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search">Search</i>
        </button>
      </span>
      <span class="input-group-btn mr-2">
        <button class="btn btn-default" type="button">
          <i class="fa fa-plus-circle">New</i>
        </button>
      </span>
    </div>
    <div class="form-group mr-2"> </div>
  </div>
</form>
