<form>
  <div class="row">
    <div class="col">
      <h3> Requst Medical Record </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="form-group">
        <select class="form-control mr-2">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..."> </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-group">
        <span class="input-group-btn mr-2">
          <button class="btn btn-primary" type="button">
            <i class="fa fa-search">Search</i>
          </button>
        </span>
        <span class="input-group-btn mr-2">
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#createNewRequestModal" (click)="openNewRequest(createNewRequestModal)">
            <i class="fa fa-plus-circle">New</i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">RequestId</th>
          <th scope="col">To Hostpital</th>
          <th scope="col">CID</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>c56161f4-5cd8-4fef-9670-a5bd004449d1</td>
          <td>Hostpital B</td>
          <td>1608051284699</td>
          <td>2018-01-01</td>
          <td>2018-01-01</td>
          <td>Request</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>037e7bf2-43af-4606-b270-6a45d3551c11</td>
          <td>Hostpital C</td>
          <td>1602032420399</td>
          <td>2018-04-01</td>
          <td>2018-05-31</td>
          <td>Request</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
<p> {{closeResult}} </p>
<ng-template #createNewRequestModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="requestModalLabel">Requst Medical Record</h5>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="input-hospital" class="col-form-label">To Hostpital:</label>
          <input type="text" class="form-control" id="input-hospital"> </div>
        <div class="form-group">
          <label for="input-cid" class="col-form-label">CID:</label>
          <input type="text" class="form-control" id="input-cid"> </div>

        <div class="form-group">
          <label for="inputFromDate" class="col-form-label">From Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model.fromDate" name="inputFromDate" id="inputFromDate"
              ngbDatepicker #d="ngbDatepicker">
            <button class="btn btn-calendar" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="inputToDate" class="col-form-label">To Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model.toDate" name="inputToDate" id="inputToDate" ngbDatepicker
              #d2="ngbDatepicker">
            <button class="btn btn-calendar" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="c('Request click')">Request</button>
    </div>
  </div>
</ng-template>
