<form>
  <div class="row">
    <div class="col">
      <h3>Requst Medical Record</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="form-group">
        <ng-select id="cidSelected" name="cidSelected" [items]="allCid | async"
          [(ngModel)]="cidSelected">
        </ng-select>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..."> </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="form-group">
        <span class="input-group-btn mr-2">
          <button class="btn btn-primary" type="button" (click)="onSearch()">
            <i class="fa fa-search">Search</i>
          </button>
        </span>
        <span class="input-group-btn mr-2">
          <button class="btn btn-primary" type="button" data-toggle="modal"
            data-target="#createNewRequestModal" (click)="openNewRequest(createNewRequestModal)">
            <i class="fa fa-plus-circle">New</i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="currentItems | async as rows">
    <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns"
      [columnMode]="'force'" [footerHeight]="40" [sortType]="'multi'" [limit]="8"
      [rowHeight]="'auto'" [reorderable]="false">
    </ngx-datatable>
  </div>
</form>
<ng-template #createNewRequestModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="requestModalLabel">Requst Medical Record</h5>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="inputHospital" class="col-form-label">To Hospital:</label>
          <input type="text" class="form-control" id="inputHospital" name="inputHospital"
            [(ngModel)]="model.hospital"> </div>
        <div class="form-group">
          <label for="inputCid" class="col-form-label">CID:</label>
          <input type="text" class="form-control" id="inputCid" name="inputCid"
            [(ngModel)]="model.cid"> </div>
        <div class="form-group">
          <label for="inputFromDate" class="col-form-label">From Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model.fromDate"
              name="inputFromDate" id="inputFromDate" ngbDatepicker #d="ngbDatepicker">
            <button class="btn btn-calendar" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="inputToDate" class="col-form-label">To Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="model.toDate"
              name="inputToDate" id="inputToDate" ngbDatepicker #d2="ngbDatepicker">
            <button class="btn btn-calendar" (click)="d2.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="c('Request click')">Request</button>
    </div>
  </div>
</ng-template>
