/* You can add global styles to this file, and also import other style files */

@import "styles-variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

header {
  nav {
    width: 100%;
  }
  @media (min-width: map-get($grid-breakpoints, sm)) {
    nav {
      width: 80%;
    }
  }
}

i.fa::before {
  padding-right: 0.35rem;
}

.btn {
  &.btn-calendar {
    width: 3rem;
    text-align: center;
    background-color: transparent;
    border: 0.05rem dashed #8c9692;
    i.fa {
      left: 0.15rem;
      position: relative;
    }
  }
}
